{% load static %}

<section id = "blog" class = "blog">
  <div class = "container">
    <div class = "col-md-12">
      <div class = "main_blog_area m-y-3 p-y-3 wow fadeInUp">
        <div class = "col-md-3">
          <div class = "single_blog_menu m-t-2">
            <h3>Our Blog</h3>
            <ul>
                <li class = "active"><a style = "color:#a0a0a0;" href = "">Latest Posts</a></li>
                <li><a href = "">Topic I    [ TBD ]</a></li>
                <li><a href = "">Topic II   [ TBD ]</a></li>
                <li><a href = "">Topic III  [ TBD ]</a></li>
            </ul>
          </div>
        </div>
        <div class = "col-md-3">
          <div class = "single_blog m-t-2">
            <div class = "single_blog_img">
              <img src = "{% static 'images/portfolio/pf01.jpg' %}" alt = "Blog Post 1" />
            </div>
            <div class = "single_blog_text m-t-1">
              <h6>Quisque sit amet quam centum, aliquet nisi et, viverra dui.</h6>
              <span class = "font-italic">Dec 9, 2019</span>
            </div>
          </div>
        </div>
        <div class = "col-md-3">
          <div class = "single_blog m-t-2">
            <div class = "single_blog_img">
              <img src = "{% static 'images/portfolio/pf04.jpg' %}" alt = "Blog Post 2" />
            </div>
            <div class = "single_blog_text m-t-1">
              <h6>Quisque sit amet quam centum, aliquet nisi et, viverra dui.</h6>
              <span class = "font-italic">May 29, 2019</span>
            </div>
          </div>
        </div>
        <div class = "col-md-3">
          <div class = "single_blog m-t-2">
            <div class = "single_blog_img">
              <img src = "{% static 'images/portfolio/pf07.jpg' %}" alt = "Blog Post 3" />
            </div>
            <div class = "single_blog_text m-t-1">
              <h6>Quisque sit amet quam centum, aliquet nisi et, viverra dui.</h6>
              <span class = "font-italic">Jun 10, 2019</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
