{% load static %}

<section id = "theteam" class = "team">
  <div class = "row">
    <div class = "col-md-4">
      <p> </p>
      <br>
      <hr />
      <h3>The Team</h3>
    </div>
  </div>
  <div class = "main_team_content wow fadeInUp">
    <div class = "col-md-3 col-xs-12">
      <div class = "single_team m-t-2">
        <div class = "team_social_area text-center m-b-1">
          <a href = ""><i class = "fa fa-facebook"></i></a>
          <a href = ""><i class = "fa fa-behance"></i></a>
          <a href = ""><i class = "fa fa-dribbble"></i></a>
          <a href = ""><i class = "fa fa-google-plus"></i></a>
        </div>
        <img src = "{% static 'images/team/team-01.jpg' %}" alt = "Michael - Team Member" />
        <div class = "single_team_text text-center">
          <h3>Michael</h3>
        </div>
      </div>
    </div>
    <div class = "col-md-3 col-xs-12">
      <div class = "single_team m-t-2">
        <div class = "team_social_area text-center m-b-1">
          <a href = ""><i class = "fa fa-facebook"></i></a>
          <a href = ""><i class = "fa fa-behance"></i></a>
          <a href = ""><i class = "fa fa-dribbble"></i></a>
          <a href = ""><i class = "fa fa-google-plus"></i></a>
        </div>
        <img src = "{% static 'images/team/team-02.jpg' %}" alt = "Joseph - Team Member" />
        <div class = "single_team_text text-center">
          <h3>Joseph</h3>
        </div>
      </div>
    </div>
    <div class = "col-md-3 col-xs-12">
      <div class = "single_team m-t-2">
        <div class = "team_social_area text-center m-b-1">
          <a href = ""><i class = "fa fa-facebook"></i></a>
          <a href = ""><i class = "fa fa-behance"></i></a>
          <a href = ""><i class = "fa fa-dribbble"></i></a>
          <a href = ""><i class = "fa fa-google-plus"></i></a>
        </div>
        <img src = "{% static 'images/team/team-03.jpg' %}" alt = "Aubrey - Team Member" />
        <div class = "single_team_text text-center">
          <h3>Aubrey</h3>
        </div>
      </div>
    </div>
    <div class = "col-md-3 col-xs-12">
      <div class = "single_team m-t-2">
        <div class = "team_social_area text-center m-b-1">
          <a href = ""><i class = "fa fa-facebook"></i></a>
          <a href = ""><i class = "fa fa-behance"></i></a>
          <a href = ""><i class = "fa fa-dribbble"></i></a>
          <a href = ""><i class = "fa fa-google-plus"></i></a>
        </div>
        <img src = "{% static 'images/team/team-04.jpg' %}" alt = "Daniel - Team Member" />
        <div class = "single_team_text text-center">
          <h3>Daniel</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
