/*
 * Owl Carousel v2.3.4
 */
.item{
}
.owl-item{
  text-align: center;
}
.owl-carousel{
  left:0;
  margin:auto !important;
  margin:0 !important;
  padding:0;
  width:100% !important;
  position:relative !important;
}
.owl-carousel .item{
  margin-right:12px;
  /*margin-left:0px;*/
  padding:0;
}
.owl-carousel .item img{
  display: block;
  width: 133% !important;
  height: auto;
  padding:0;
}
.owl-theme .owl-nav{
  /*margin-top: 3px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin:auto;*/
}
.owl-theme .owl-nav [class*='owl-']{
 /* color: green;
  font-size: 44px !important;
  margin: 0;
  padding: 0;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; */
}
.owl-theme .owl-nav [class*='owl-']:hover{
  /*background: #869791;
  color: #FFF;
  text-decoration: none;*/
}
.owl-theme .owl-nav .disabled {
  /*opacity: 0.5;
  cursor: default;*/
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-buttons{
  display: none;
}
.owl-carousel:hover .owl-buttons{
  display: block;
}
.owl-thumbs button {
  display: inline-block;
  background: none;
  border: none;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 0;
  outline: none;
  cursor: pointer;
  opacity: .6;
}
.owl-thumbs button.active {
  opacity: 1;
}
.owl-thumbs button img {
  max-width: 88px;
}
.owl-theme .owl-controls .owl-buttons div {
  /*background: transparent;
  color: #869791;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  padding: 0 60px;
  position: absolute;
  top: 0;*/
}
.owl-theme .owl-dots{
  text-align: center;
  -webkit-tap-highlight-background: transparent;
  margin:auto !important;
}
.owl-theme .owl-dots .owl-dot{
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span{
  width: 10px;
  height: 10px;
  margin: 3px 3px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  /*background: yellow;*/
}
.owl-prev, .owl-next{
  /*position:relative;
  color:#e15a1f !important;
  margin:59px !important;
  margin-top:0 !important;
  margin-bottom:0 !important;
  padding:0px !important;
  background:black !important;*/
  display:none !important;
}
.owl-prev{
  /*left: 0;
  padding-left: 20px;*/
}
.owl-next{
  /*right: 0;
  padding-right: 20px;*/
}
.owl-theme .owl-dots .owl-dot span {
  background: grey !important; /* dots color*/
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #e15a1f  !important; /*active and on hover color*/
}
.owl-carousel .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel .owl-dots .owl-dot.active span {

}
.owl-theme .owl-controls .owl-buttons .owl-prev {
 /*left: 0;
  padding-left: 20px;*/}
.owl-theme .owl-controls .owl-buttons .owl-next {
  /*right: 0;
  padding-right: 20px;*/
}

.owl-carousel .item{
 border-radius : 11px;
 border        : 1px solid white;
 overflow      : hidden;
}

.owl-carousel .item div{
 border-radius : 11px;
 overflow      : hidden;
}

.owl-carousel .item img{
 border-radius : 11px;
 border        : none !important;
 margin        : 0 !important;
}

.owl-carousel{
 margin-top : 9px !important;
}
