<nav id="mynav" role="navigation">
  <a href="#mynav" title="Show navigation">Show navigation</a>
  <a href="#" title="Hide navigation">Hide navigation</a>
  <ul class="clearfix">
    <!--<li><a href="#">Home</a></li>-->
    <li>
      <a>
        <span style="color:white; font-weight:500;">Services</span>
      </a>
      <ul>
        {#<li><a href="#covid">COVID</a></li>#}
        <li><a href="#cctv">CCTV</a></li>
        <li><a href="#card">Card Entry</a></li>
        <li><a href="#iot">IOT-WAN</a></li>
        <li><a href="#intercom">Intercom</a></li>
        <li><a href="#design">Design</a></li>
      </ul>
    </li>
    <li><a href="#about">About</a></li>
    <li><a href="#portfolio">Portfolio</a></li>
    <li><a href="#partners">Partners</a></li>
    <li><a href="#examples">Examples</a></li>
    <li><a style="color:#bb0a1e; font-weight:700;" href="#contactus">Get&nbsp;LiT&nbsp;!</a></li>
  </ul>
</nav>
