{% load static %}

<!--<div class="container">-->
<div class = "col-md-12">

  <div class = "owl-carousel owl-theme">
    <div class = "item">
      <div><img src = "{% static 'images/carousel/codeimg.jpg' %}" alt = "Code Development"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xCCTV_HighRise_Collage.jpg' %}" alt = "CCTV High Rise"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xCCTV_Wall2.jpg' %}" alt = "CCTV Wall"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xPTZ_Escalator_Clear.jpg' %}" alt = "PTZ Escalator"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xBiometricEntry_Fingerprint.jpg' %}" alt = "Biometric Entry"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xKeyFobtoReader.jpg' %}" alt = "Key Fob Reader"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xCallBox.jpg' %}" alt = "Call Box"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xsmart_Cities_.jpg' %}" alt = "Smart Cities"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xRFID-AssetTracking.jpg' %}" alt = "RFID Asset Tracking"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xwireless_network.jpg' %}" alt = "Wireless Network"></div>
    </div>
    <div class = "item">
      <div><img src = "{% static 'images/carousel/xSystemDesign.jpg' %}" alt = "System Design"></div>
    </div>
  </div>

</div>
<!--</div>-->
